body.print-mode {
    background: #fff !important;
}

.markdown li {
    font-family: 'Source Serif Pro', serif;
    list-style: inside url("li.svg");
}

.markdown > * {
    margin-bottom: 0.5rem;
}

.markdown h3 {
    margin-top: 1rem;
}
